.Paper {
  width: 50%;
  min-width: 550px;
  height: fit-content;

  margin: 70px 0 50px 0;
  padding: 4rem 3rem;

  background-color: #ffffff;
  border: 1.5px solid rgb(238, 238, 238);
}

.paperTitle {
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  padding: 5px;
}

.paperContent {
  color: rgb(49, 49, 49);
  font-size: 16px;
}

.paperContent *::selection {
  background-color: #4bc1b5;
}