.Table {
  width: 50%;
  min-width: 550px;
  height: fit-content;

  margin: 70px auto 50px auto;
  padding: 4rem 3rem;

  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.detailsTable {
    box-sizing: border-box;
    border: 0.5px solid black;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.detailsTable th, .detailsTable td {
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0;
  padding: 0.25rem 0.5rem;
  height: 50px;
}

.paperTitle {
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  padding: 5px;
}