.searchArea {
  display: flex;
  flex-direction: column;
}

.searchArea .searchTitle {
  width: 100%;
  margin-bottom: 20px;
}

.searchArea .searchInput {
  width: 90%;
  margin: 0 auto;
}

.searchConfig {
  width: 90%;
  margin: 0 auto;
}

.searchConfig .configArea {
  display: flex;
  flex-direction: row;
  column-gap: 30px;

  color: rgb(25, 79, 179);
  font-weight: bold;
}

.searchConfig .configArea .configItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}